.elRaptor {
    -moz-transition-property: bottom,right;
    -o-transition-property: bottom,right;
    -webkit-transition-property: bottom,right;
    transition-property: bottom,right;
    -moz-transition-duration: 100ms,2200ms;
    -o-transition-duration: 100ms,2200ms;
    -webkit-transition-duration: 100ms,2200ms;
    transition-duration: 100ms,2200ms;
    -webkit-transition-delay: 0s, 300ms; /* Safari */
    transition-delay: 0s, 300ms;
    webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); 
        transition-timing-function: cubic-bezier(0.420, 0.000, 0.580, 1.000); /* ease-in-out */
}